.header {
  background: #0064eb;
  width: 100%;
  height: 72px;
}

.header__logo {
  width: 40.98px;
  height: 40px;
  position: absolute;
  margin-top: 16px;
  margin-left: 41px;
}

.header__search {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: absolute;
  width: 36.6%;
  height: 40px;
  border-radius: 6px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 104px;
}

.header__search-icon {
  color: #808080;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  margin-left: 19px;
}

.header__search-text {
  border: none;
  padding: 0;
  width: 256px;
  height: 24px;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  letter-spacing: 0.01em;
  font-style: normal;
  font-weight: normal;
  margin-left: 15px;
  -webkit-box-shadow: inset 0 0 0 50px #fff;

}

.header__search-text:focus {
  outline: none;
}




@media (max-width: 991px) {
  .header {
    height: 60px;
  }
  .header__logo {
    width: 30 px;
    height: 30px;
    position: absolute;
    margin-top: 10px;
    margin-left: 41px;
  }

  .header__search {
    width: 300px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 104px;
  }
  .header__search-text {
    width: 200px;
    height: 24px;
  }
}

@media (max-width: 575px) {
  .header {
    height: 60px;
  }
  .header__logo {
    width: 30 px;
    height: 30px;
    position: absolute;
    margin-top: 10px;
    margin-left: 41px;
  }

  .header__search {
    width: 200px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 80px;
  }
  .header__search-text {
    width: 100px;
    height: 24px;
  }

  .header__search-icon {
    margin-left: 10px;
  }

  .header__logo {
    width: 40.98px;
    height: 40px;
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
  }
}
